%rebase('osnova.html', naslov='Domov', uporabnik=uporabnisko_ime, rola = rola)
<div class="container">
<div class="row">
  <div class="col-md-6 mb-4">
    <a href="{{url('kostumske_podobe', kostumska_podoba = 'osnovna', imeoprave = 'stran')}}">
      <img src="/static/oprava_kostumske_podobe.jpg" class="img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <h1>Kostumske podobe</h1>
      </div>
    </a>  
  </div>
  <div class="col-md-6 mb-4">
    <a href="{{url('oblacila', stran = 'vrste_oblacil')}}">
      <img src="/static/aktivni_plesalci.jpg" class="img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <h1>Oblačila</h1>
      </div>
    </a>
  </div>
  <div class="col-md-6 mb-4">
    <a href="{{url('vsi_cevlji')}}">
      <img src="/static/cevlji.jpg" class="img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <h1>Čevlji</h1>
      </div>
    </a>
  </div>
  <div class="col-md-6 mb-4">
    <a href="{{url('delo_posameznika')}}">
      <img src="/static/delo.jpg" class="img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <h1>Delo</h1>
      </div>
    </a>
  </div>
</div>
</div>
