%rebase('osnova.html', naslov='Domov', uporabnik=uporabnisko_ime)
 <div id="slide" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/kostumske_podobe/">
        <img src="/static/oprava_kostumske_podobe.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-md-block">
          <h1>Kostumske podobe</h1>
        </div>
      </a>  
    </div>
    <div class="carousel-item ">
      <a href="/domov/">
        <img src="/static/aktivni_plesalci.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-md-block">
          <h1>Aktivni plesalci</h1>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/domov/">
        <img src="/static/cevlji.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-md-block">
          <h1>Čevlji</h1>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/domov/">
        <img src="/static/delo.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-md-block">
          <h1>Delo</h1>
        </div>
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  

  
