%rebase('osnova.html', naslov='Cene Izdelkov')
<!-- <script src="{{url('static', filename='izdelki.js')}}"></script> -->
<div style="width: 85%; margin-left: 5%; margin-right: 5%;">

    <table  id="plesalci" class="display compact table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ime</th>
                <th>Priimek</th>  
             </tr>
        </thead>
     
      %for plesalec in plesalci:
        <tr>
           <td>{{plesalec.idplesalca}}</td>
           <td>{{plesalec.ime}}</td>
           <td>{{plesalec.priimek}}</td>
          
        </tr>
      %end
      </table>
</div>
  

  
