%rebase('osnova.html', naslov='Kostumske podobe', uporabnik=uporabnisko_ime)

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <table id="table1" class="table table-striped" data-toggle="table" data-sticky-header="true" data-search="true" data-sortable="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Kostumske podobe</th>
              <th scope="col" class="text-center">Vrsta</th>
            </tr>
          </thead>
          <tbody>
            % for i in podatek:
            <tr>
              <td><a href="{{ url('osnovna_stran', id=i.imekostumskepodobe[0]) }}"></a>{{ i.imekostumskepodobe }}</a></td>
              <td>{{ i.imeoprave }}</td>
            </tr>
            % end
          </tbody>
        </table>
      </div>
    </div>
  </div>
