%rebase('osnova.html', naslov='Vrsta')
<!--
% include('orodna_vrstica.html', fun_dodaj='kraji_dodaj', napis='Dodaj kraj')
-->
  <table class="table table-striped" id="podatki">
      <tr>
        <th>Pokrajina</th>
        <th>Ime</th>
        <th>Spol</th>
        <th>Omara</th>
      </tr>
      %for id, pokrajina, ime, spol, omara in vrstaoblacila:
      <tr>
        <td>{{pokrajina}}</td>
        <td>{{ime}}</td>
        <td>{{spol}</td>
        <td>{{omara}}</td>
        <!--<td class="akcije">
          <form action="{{url('kraji_uredi', posta=posta)}}" method="GET">
            <a href="#" onclick="this.parentElement.submit()">Uredi</a>
          </form>
          <form action="{{url('kraji_brisi', posta=posta)}}" method="POST">
            <a href="#" onclick="this.parentElement.submit()">Izbriši</a>
          </form>
        </td>-->
      </tr>
      %end
    </table>