    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Dodajte jQuery knjižnico -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Dodajte Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Skripta za interakcijo tabel -->
    <script>
        $(document).ready(function () {
          // Poslušanje dogodka klika na vrstice prve tabele
          $('#table1 tbody tr').on('click', function () {
            // Dobite vrednost ID kostumske podobe iz izbrane vrstice
            var imeKostumskePodobe = $(this).find('td:first-child a').text();

            // Filtriranje in prikaz ustreznih vrstic v drugi tabeli
            $('#table tbody tr').hide();
            $('#table tbody tr[data-imekostumskepodobe="' + imeKostumskePodobe + '"]').show();
          });
        });
  </script>

<!-- Tabela 1 -->
<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <table id="table1" class="table table-striped" data-toggle="table" data-sticky-header="true" data-search="true" data-sortable="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Kostumske podobe</th>
              <th scope="col" class="text-center">Vrsta</th>
            </tr>
          </thead>
          <tbody>
            % for i in podatek:
            <tr>
              <td><a href="#">{{ i.imekostumskepodobe }}</a></td>
              <td>{{ i.imeoprave }}</td>
            </tr>
            % end
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <!-- Tabela 2 -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <table id="table" class="table table-striped" data-toggle="table" data-sticky-header="true" data-sortable="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Ime</th>
              <th scope="col" class="text-center">Pokrajina</th>
              <th scope="col" class="text-center">Spol</th>
              <th scope="col" class="text-center">Omara</th>
            </tr>
          </thead>


          

          <tbody>
            <tr data-imekostumskepodobe="Kostumska podoba 1">
              <td>Ime 1</td>
              <td>Pokrajina 1</td>
              <td>Ženska</td>
              <td>Omara 1</td>
            </tr>
            <tr data-imekostumskepodobe="Kostumska podoba 1">
              <td>Ime 2</td>
              <td>Pokrajina 2</td>
              <td>Moški</td>
              <td>Omara 2</td>
            </tr>
            <!-- Dodajte več vrstic, kot želite -->
          </tbody>
        </table>
      </div>
    </div>
  </div>