%rebase('osnova.html', naslov='Podatki o plesalcu', uporabnik=uporabnisko_ime)
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            % if plesalecdto.uporabniskoime == None:
              <p class="mb-4 text-center"><b>Dodaj uporabnika</b></p>
              <form action="{{url('dodaj_uporabnika')}}" method="POST" id="myForm1" class="needs-validation">
                <div class="form-group ">
                  <label for="uporabnisko_ime_uporabnik">Uporabniško ime</label>
                  <input type="text" class="form-control" id="uporabnisko_ime_uporabnik" placeholder="Vnesi uporabniško ime" name = "uporabnisko_ime">
                  <div class="valid-feedback" id="rezultat_preverjanja2"></div>
                  <div class="invalid-feedback" id="rezultat_preverjanja">Uporabniško ime že obstaja.</div>
                </div>
                <div class="form-group">
                  <label for="geslo_uporabnik">Geslo</label>
                  <input type="password" class="form-control" id="geslo_uporabnik" placeholder="Vnesi geslo" name = "geslo" pattern="^\w{8,25}$" required>
                  <div class="valid-feedback" id = "gesloValidFeedback">Veljavno</div>
                  <div class="invalid-feedback" id = "gesloInvalidFeedback">Geslo mora biti dolgo od 8 do 25 znakov, ki so lahko črke številke ali "_".</div>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="funkcija">
                  <label class="form-check-label" for="defaultCheck1">
                    Garderober
                  </label>
                </div>

                <input type="hidden" name="id_plesalca" value="{{plesalecdto.idplesalca}}">
                <input type="hidden" name="obstojeca_imena" value="{{seznam_imen}}">

                <div style="margin-top: 5px;" class="form-group text-center">
                    <button id="submitBtn" type="submit" class="btn btn-secondary" disabled>Dodaj</button>
                </div>
              
                % if napaka:
                <div class="alert alert-danger" role="alert" style="margin-top: 3%;">
                  {{napaka}}
                </div>
                %end

              </form>
              
            % else:
              <p class="text-muted mb-4 text-center">uporabniško ime: {{plesalecdto.uporabniskoime}}</p>
                
            
              <p class="text-muted mb-1 text-center">plesalec</p>
            % if plesalecdto.rola == True:
            <p class="text-muted mb-4 text-center">Dodatna funkcija: garderober</p>
            % else:
            <p class="text-muted mb-4 text-center">Dodatna funkcija: /</p>
            % end
            % end
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              
              <p class="mb-4 text-center" style="padding-top: 5%;"><b>Mere telesa</b></p>
              
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Širina ramen (cm): {{plesalecdto.sirinaramen}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Obseg prsi (cm): {{plesalecdto.obsegprsi}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina rokava (cm): {{plesalecdto.dolzinarokava}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina od pasu navzdol (cm): {{plesalecdto.dolzinaodpasunavzdol}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina telesa (cm): {{plesalecdto.dolzinatelesa}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                <p class="mb-0">Številka noge: {{plesalecdto.stevilkanoge}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <p class="mb-4"><b>Plesalec</b></p>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ime</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.ime}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Priimek</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.priimek}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spol</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.spolplesalca}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Datum priključitve</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.datumprikljucitve}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Lastnik čevljev</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <ul style="list-style-type: none; padding: 0; margin: 0; ">
                    
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-4">
              <div class="card-body">
                <p class="mb-4"><b>Delo</b></p>
                    
              </div>
            </div>
          </div>
        </div>
        % if plesalecdto.uporabniskoime:
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                
                <form action="{{url('spremeni_podatke_uporabnika', podatek = 'geslo')}}" method="POST" id="myForm3" class="needs-validation" novalidate>

                  <div class="form-group">
                    <label for="novo_spremenjeno_geslo">Nastavi novo geslo</label>
                    <input type="password" class="form-control" id="novo_spremenjeno_geslo" placeholder="Vnesi geslo" name = "geslo" pattern="^\w{8,25}$" required>
                    <div class="valid-feedback" id = "gesloValidFeedback3">Veljavno</div>
                  <div class="invalid-feedback" id = "gesloInvalidFeedback3">Geslo mora biti dolgo od 8 do 25 znakov, ki so lahko črke številke ali "_".</div>
                  </div>
                  <input type="hidden" name="uporabnik" value="{{plesalecdto.uporabniskoime}}">
                  <div style="margin-top: 5px;" class="form-group">
                    <button id="submitBtn3" type="submit" class="btn btn-secondary" disabled>Posodobi geslo</button>
                </div>
              
                </form>

                <form action="{{url('spremeni_podatke_uporabnika', podatek = 'funkcija')}}" method="POST" id="myForm4" class="needs-validation" novalidate>
                  <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Dodatna funkcija</label>
                      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="funkcija">
                        <option selected>Izberi...</option>
                        <option value="1">DA</option>
                        <option value="2">NE</option>
                      </select>
                    </div>
                    <input type="hidden" name="uporabnik" value="{{plesalecdto.uporabniskoime}}">
                    <div class="col-auto my-1">
                      <button id="submitBtn4" type="submit" class="btn btn-secondary" disabled>Spremeni</button>
                    </div>
                  </div>
                </form>
                
                <form action="{{url('spremeni_podatke_uporabnika', podatek = 'brisanje')}}" method="POST" id="myForm5" class="needs-validation" novalidate>
                  <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      <button id="submitBtn5" type="submit" class="btn btn-secondary">Odstrani uporabniški račun</button>
                    </div>
                  </div>
                </form>
              
              </div>
            </div>
          </div>
        </div>
        % end
      </div>
    </div>
  </div>
</section>


<script>
  var seznam_imen = {{!seznam_imen}};

  $(document).ready(function () {
      preveriUpImeInGeslo(seznam_imen);
  
  
  });

</script>


<script>
  var seznam_imen = {{!seznam_imen}};
  $(document).ready(function () {
    preveriCeUpImeObstaja(seznam_imen);
  });

  $(document).ready(function () {
    preveriVeljavnostGesla();
  });


  $(document).ready(function () {
    OznacenKvadratek();
  });

   $(document).ready(function () {
    IzbrisiUpRacun();
  });
</script>
