%rebase('osnova.html', naslov='Moj profil', uporabnik=uporabnisko_ime)
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{plesalecdto.uporabniskoime}}</h5>
            <p class="text-muted mb-1">plesalec</p>
            % if plesalecdto.rola == True:
            <p class="text-muted mb-4">Dodatna funkcija: garderober</p>
            % else:
            <p class="text-muted mb-4">Dodatna funkcija: /</p>
            % end
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              
              <p class="mb-4 text-center" style="padding-top: 5%;"><b>Mere telesa</b></p>
              
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Širina ramen (cm): {{plesalecdto.sirinaramen}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Obseg prsi (cm): {{plesalecdto.obsegprsi}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina rokava (cm): {{plesalecdto.dolzinarokava}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina od pasu navzdol (cm): {{plesalecdto.dolzinaodpasunavzdol}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Dolžina telesa (cm): {{plesalecdto.dolzinatelesa}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                <p class="mb-0">Številka noge: {{plesalecdto.stevilkanoge}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ime</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.ime}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Priimek</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.priimek}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spol</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.spolplesalca}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Datum priključitve</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{plesalecdto.datumprikljucitve}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Lastnik čevljev</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <ul style="list-style-type: none; padding: 0; margin: 0; ">
                    % for cevelj in cevljidto:
                    <li >{{cevelj.vrsta}}: {{cevelj.velikost}}/{{cevelj.zapst}}</li>
                    % end
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-4">
              <div class="card-body">
                <p class="mb-4"><b>Moje delo v tem mesecu</b></p>
                  % if len(delodto) == 0:
                    <p class="mb-1">Ni podatkov o delu.</p>
                  % else:
                    % for delo in delodto:
                      % if delo.vrstadela == 'likanje':
                          <p class="mb-1">Likanje: {{ delo.skupno_trajanje }}</p>
                      % elif delo.vrstadela == 'šivanje':
                          <p class="mb-1">Šivanje: {{ delo.skupno_trajanje }}</p>
                      % elif delo.vrstadela == 'pranje':
                          <p class="mb-1">Pranje: {{ delo.skupno_trajanje }}</p>                      
                      % end
                    % end
                  % end  
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><b>Sprememba gesla</b></p>
                <form action="{{url('spremeni_geslo')}}" method="POST" id="myForm1" class="needs-validation" novalidate>
                  <div class="form-group">
                    <label for="staro_geslo">Geslo</label>
                    <input type="password" class="form-control" id="staro_geslo" placeholder="Vnesi svoje geslo" name = "staro_geslo">
                  </div> 
                  <div class="form-group">
                      Novo geslo<input type="password" id="pwdId" class="form-control" placeholder="Vnesi novo geslo" name = "novo_geslo" pattern="^\w{8,25}$" required>
                      <div class="valid-feedback">Veljavno</div>
                      <div class="invalid-feedback">Geslo mora biti dolgo od 8 do 25 znakov, ki so lahko črke številke ali "_".</div>
                  </div>
                  <div class="form-group">
                      Potrdi novo geslo<input type="password" id="cPwdId" class="form-control myCpwdClass" placeholder="Ponovno vnesi novo geslo" pattern="^\w{8,25}$" required>
                      <div id="cPwdValid" class="valid-feedback">Gesli se ujemata.</div>
                      <div id="cPwdInvalid" class="invalid-feedback">Geslo mora biti dolgo od 8 do 25 znakov, ki so lahko črke številke ali "_".</div>
                  </div>
                  <div style="margin-top: 5px;" class="form-group">
                      <button id="submitBtn" type="submit" class="btn btn-secondary" disabled>Shrani</button>
                  </div>
                  % if sprememba == "True":
                  <div  style="margin-top: 5px;" class="alert alert-success">
                    Geslo uspešno posodobljeno!
                  </div>
                  % end
                  % if sprememba == "False":
                  <div  style="margin-top: 5px;" class="alert alert-danger">
                    Napačno vneseno staro geslo!  
                  </div>
                  % end
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    preveriGesla();
  });
</script>



  
  