<!DOCTYPE html>
<html>
    <head>
        <title>Custom Option Example</title>
        <link rel="stylesheet" href="../static/style.css">

    </head>
    <body>
        <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-5">
                <label for="country" class="form-label">Ime</label>
                <select class="form-select" id="country" onchange="checkCustomOption(this.value)">
                  <option value="">Choose...</option>
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Germany</option>
                  <option value="custom">Other</option>
                </select>
                <div id="customOptionInput" style="display: none;">
                  <input type="text" class="form-control" id="customCountry" placeholder="Enter country">
                </div>
                <div class="invalid-feedback" id="countryError">
                  Prosim vnesite ime oblačila ali izberite eno izmed ponujenih.
                </div>
              </div>
            </div>
          </form>
          
          <script>
            function checkCustomOption(value) {
              var customOptionInput = document.getElementById('customOptionInput');
              if (value === 'custom') {
                customOptionInput.style.display = 'block';
              } else {
                customOptionInput.style.display = 'none';
              }
            }
          </script>
          
        </body>

</html>
