%rebase('osnova.html', naslov='Vrste oblačil', uporabnik=uporabnisko_ime, rola = rola)
<section style="background-color: #eee;">

  <div class="container-fluid">
    <div class="row">
      <div class="card mb-4 mb-lg-4">
        <div class="card-body p-0">
          % if odziv:
        <div class="alert alert-success" role="alert" style="margin-top: 3%;">
          {{odziv}}
        </div>
        % end
        % if napaka:
        <div class="alert alert-danger" role="alert" style="margin-top: 3%;">
          {{napaka}}
        </div>
        % end
          <div class="table-container">
          <table class="table borderless" data-toggle="table" data-sticky-header="true" data-search="true" data-show-columns="true" >
              <thead class="table-light">
                <tr >
                  <th scope="col" data-sortable="true">Ime</th>
                  <th scope="col" data-sortable="true">Spol</th>
                  <th scope="col" data-sortable="true">Pokrajina</th>
                  <th scope="col" data-sortable="true">Tip</th>
                  <th scope="col" data-sortable="true">Omara</th>
                  <th scope="col" class="text-center">Vsi kosi te vrste</th>
                  % if rola == 'True':
                  <th scope="col" class="text-center" >Izbriši</th>
                  % end
                  

                </tr>
              </thead>
              <tbody>
                % for vrstica in vrste_oblacil:
                
                <tr>
                
                  <td>{{vrstica.ime}}</td>
                  <td>{{vrstica.spol}}</td>
                  <td>{{vrstica.pokrajina}}</td>
                  % if vrstica.tip == "DodatnaOblacila":
                  <td>dodatno oblačilo</td>
                  % elif vrstica.tip == "ZgornjiDel":
                  <td>zgornji del</td>
                  % elif vrstica.tip == "SpodnjiDel":
                  <td>spodnji del</td>
                  % elif vrstica.tip == "EnodelniKos":
                  <td>enodelni kos</td>
                  % end
                  <td>{{vrstica.omara if vrstica.omara is not None else "/"}}</td>
                  <td class="text-center">
                    <form action="{{url('oblacila', stran = 'oblacilo')}}" method="GET" id = "obrazec1234">
                      <input type="hidden" name="ime_vrste" value="{{vrstica.ime}}">
                      <input type="hidden" name="spol_vrste" value="{{vrstica.spol}}">
                      <input type="hidden" name="pokrajina_vrste" value="{{vrstica.pokrajina}}">  
                      <button type="submit" id = "gumb1234" class="btn btn-outline-secondary"><i class="bi bi-grid"></i></button>
                    </form>
                  </td>
                  % if rola == 'True':
                  <td class="text-center">
                    <form action="{{url('odstrani_vrsto')}}" method="POST">
                      <input type="hidden" name="ime" value="{{vrstica.ime}}">
                      <input type="hidden" name="spol" value="{{vrstica.spol}}">
                      <input type="hidden" name="pokrajina" value="{{vrstica.pokrajina}}">  
                      <button type="submit" onclick="showConfirmation()" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                    </form>
                  </td>
                  % end
                </tr>
                
                % end
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    $.fn.bootstrapTable.locales['sl-SI'] = {
      formatSearch: function () {
        return 'Iskanje';
      },
      formatNoMatches: function () {
        return 'Ni najdenih rezultatov.';
      },
    };
    $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['sl-SI']);
  
  function showConfirmation() {
    if (confirm("Ali ste prepričani, da želite izbrisati to vrsto oblačil?")) {
    } else {
      alert("Brisanje preklicano.");
      event.preventDefault();
    }
  }
</script>
